*{
  margin:0 ;
font-family: 'Work Sans', sans-serif;

}
/* banner section */
.header{
  text-align: right;
  
  background-image: url(../images/banner/banner2.png);
  height: 100vh;
  weight:100%;

  

  
}
 
.banner{
  padding: 200px;
  margin-left: 500px;
 
}
.banner-header{
  font-size: 65px;
  font-weight: 700;
  margin-bottom: 24px;
}
.banner-title{
  font-size: 16px;
  color: #444343 ;
  margin-bottom: 30px;
  
}
.btn-secondary{
  padding: 20px 25px;
  background-color:#F15B22; ;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  border: none;


}
/* end banner section */
   


   
  .failure{
    display: flex;
    align-items: center;
    margin: 150px;
    border-radius: 5px;
    background-color: #FFF; 
  }
  .failure-picture{
    width: 451px;
height: 898px;
    
  }
  .failure-preview{
    padding: 200px;
  }
  .failure-header{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;

  }
  .failure-description{
    font-size: 16px;
    color:#444343 ;
    margin-bottom: 15px;
  }
  ul li{
    list-style:decimal;
  }
  /* end failure section */
  /* start my plan section */